<head class="cabecera">
    <nav class="nav">
        <a class="navLink" href="/">
            Añadir producto
        </a>
        <a class="navLink" href="/productos">
            Tienda
        </a>
    </nav>
</head>