body {
    background-color: black;
    box-sizing: border-box;
}

.productsTittle {
    margin-top: 2%;
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
}

.productListContainer {
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productCard {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.productTittle {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

.productImage {
    border-radius: 10px;
    width: 70%;
    height: auto;
}

.productPrice {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.botonInicio {
    margin-top: 3%;
    font-family: sans-serif;
    font-size: 20px;
    padding: .5%;
    color: white;
    margin-left: 2%;
    text-decoration: none;
    border: 1px solid white;
    background-color: blueviolet;
    border-radius: 10px;
    width: fit-content;
}